<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Result </title>
    <link rel="stylesheet" href="../static/styles/styles.css">

</head>
<body>
    <p> I love making food because it allows me to get creative in the {{adj1}} kitchen. One of my favorite recipes 
        to cook is {{food}} which always makes my {{body_part}} water. I like to add a pinch of {{spice}} for some 
        extra {{adj2}} flavor. Cooking is a {{adj3}} activity that relaxes me and brings me joy. The best part is 
        enjoying the delicious meal {{adverb}} with {{person}} and seeing their {{emotion}}, on their face when they 
        take the first bite. </p>
</body>
</html>