<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Result </title>
    <link rel="stylesheet" href="../static/styles/completed.css">

</head>
<body>

    <h1 id="result"> madlib result </h1>
    <div id="box">

    </div>
    




    <!-- <p> I love making food because it allows me to get creative in the {{adj1}} kitchen. </p> -->

    <div id="whole">
        <p> I love making food because it allows me to get creative in the {{adj1}} kitchen.</p>
        <p> One of my favorite recipes to cook is {{food}} which always makes my {{body_part}} water.</p> 
        <p>I like to add a pinch of {{spice}} for some extra {{adj2}} flavor..</p>
        <p>Cooking is a {{adj3}} activity that relaxes me and brings me joy..</p>
        <p>The best part is enjoying the delicious meal {{adverb}} with {{person}} and seeing their {{emotion}},</p>
        <p> on their face when they take the first bite. </p>
    </div>

    <h1 id="title"> Food</h1>
</body>
</html>