<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    
    <h1 id="ex1">MadLibs</h1>
    <div id="bigtext">
        <h1 style="font-size: 100px"> 😡 MadLibs</h1>
    </div>
    <div id="head">
    </div>
    <div id="firstrow">
        <form action="/" method="POST">
            <input type="text" name="first" id="first" value="Noun">       
        </form>
        <form action="/" method="POST">
            <input type="text" name="second" id="second" value="Noun">       
        </form>

        <form action="/" method="POST">
            <input type="text" name="third" id="third" value="Noun">       
        </form>


        <form action="/" method="POST">
            <input type="text" name="fourth" id="fourth" value="Noun">       
        </form>
    </div> 

    <div id="secondrow">
        <form action="/" method="POST">
            <input type="text" name="fifth" id="fifth" value="Noun">       
        </form>
        <form action="/" method="POST">
            <input type="text" name="sixth" id="sixth" value="Noun">       
        </form>

        <form action="/" method="POST">
            <input type="text" name="seventh" id="seventh" value="Noun">       
        </form>


        <form action="/" method="POST">
            <input type="text" name="eighth" id="eighth" value="Noun">       
        </form>
    </div>

    <form action="/" method="POST">
        <input type="text" name="nineth" id="nineth" value="Noun">       
    </form>

    <div id="band1">
        
    </div>
 

</body>
</html>