<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    
    <h1 id="ex1">MadLibs</h1>
    <div id="bigtext">
        <h1 style="font-size: 100px"> 😡 MadLibs</h1>
    </div>
    <div id="head">
    </div>
    <div id="firstrow">
        <form action="/" method="POST">
            <input type="text" name="first" id="first" value="Noun">       
        </form>
        <form action="/" method="POST">
            <input type="text" name="second" id="second" value="Noun">       
        </form>
    </div> 
 
</body>
</html>