<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    
    <h1 id="ex1">MadLibs</h1>
    <div id="bigtext">
        <h1 style="font-size: 100px"> 😡 MadLibs</h1>
    </div>
    <div id="head">
    </div>
    <div id="firstrow">
        <form action="{{ url }}" method="POST">
            <input type="text" name="adj1" id="first" value="Ajective">       
        </form>
        <form action="{{ url }}" method="POST">
            <input type="text" name="food" id="second" value="Food">       
        </form>

        <form action="{{ url }}" method="POST">
            <input type="text" name="body_part" id="third" value="body part">       
        </form>


        <form action="{{ url }}" method="POST">
            <input type="text" name="spice" id="fourth" value="Spice">       
        </form>
    </div> 

    <div id="secondrow">
        <form action="{{ url }}" method="POST">
            <input type="text" name="adj2" id="fifth" value="Adjective">       
        </form>
        <form action="{{ url }}" method="POST">
            <input type="text" name="adj3" id="sixth" value="Adjective">       
        </form>

        <form action="{{ url }}" method="POST">
            <input type="text" name="adverb" id="seventh" value="Adverb">       
        </form>


        <form action="{{ url }}" method="POST">
            <input type="text" name="person" id="eighth" value="Person">       
        </form>
    </div>

    <form action="{{ url }}" method="POST">
        <input type="text" name="emoji" id="nineth" value="Emoji">       
    </form>

    <form action="{{ url }}" method="POST">
        <input type="submit" name="Submit" id="Submit" value="Submit">       
    </form>

 

</body>
</html>