#head{
    background-color: rgb(144, 144, 255);
    width:1290px;
    height:680px;
    transform: translate(180px, 140px);
}

#ex1{
    display: flex;
    background-color: bisque;
    height:50px;
}

#bigtext{
    transform: translate(500px, 200px);
}
#first{
    width:250px;
    height:90px;
    border-color: rgb(85, 78, 184);
    transform: translate(230px, -400px);
}

#second{
    width:250px;
    height:90px;
    border-color: rgb(85, 78, 184);
    transform: translate(290px, -400px);  
}

#third{
    width:250px;
    height:90px;
    border-color: rgb(85, 78, 184);
    transform: translate(350px, -400px); 
}

#fourth{
    width:250px;
    height:90px;
    border-color: rgb(85, 78, 184);
    transform: translate(410px, -400px); 
}

#fifth{
    width:250px;
    height:90px;
    border-color: rgb(85, 78, 184);
    transform: translate(230px, -355px); 
}

#sixth{
    width:250px;
    height:90px;
    border-color: rgb(85, 78, 184);
    transform: translate(290px, -355px); 
}

#seventh{
    width:250px;
    height:90px;
    border-color: rgb(85, 78, 184);
    transform: translate(350px, -355px); 
}

#eighth{
    width:250px;
    height:90px;
    border-color: rgb(85, 78, 184);
    transform: translate(410px, -355px); 
}

#nineth{
    width:250px;
    height:90px;
    border-color: rgb(85, 78, 184);
    transform: translate(710px, -310px); 
}

#firstrow{
    transform: translate(0px, -70px);
}

#Submit{
    width:125px;
    height:45px;
    border-color: rgb(85, 78, 184);
    transform: translate(520px, -200px);
}

