#head{
    background-color: rgb(144, 144, 255);
    width:1200px;
    height:600px;
    transform: translate(180px, 140px);
}

#ex1{
    display: flex;
    background-color: bisque;
    height:50px;
}

#bigtext{
    transform: translate(500px, 200px);
}
#first{
    width:200px;
    height:60px;
    border-color: rgb(85, 78, 184);
    transform: translate(230px, -400px);
}

#second{
    width:200px;
    height:60px;
    border-color: rgb(85, 78, 184);
    transform: translate(490px, -465px);  
}